<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="https://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

  <targets async="true">
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.txt"
            archiveFileName = "${basedir}/logs/archived/logs_archived/{#}.txt"
            layout="${longdate} - ${level:uppercase=true} - ${logger} = ${message}${exception:format=ToString}" 
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            archiveEvery="Day"
            maxArchiveFiles="7"
            ConcurrentWrites="true"
            KeepFileOpen="false" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
  </rules>
</nlog>