<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="InvvardDev.EZLayoutDisplay.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <userSettings>
    <InvvardDev.EZLayoutDisplay.Desktop.Properties.Settings>
      <setting name="ErgodoxLayoutUrl" serializeAs="String">
        <value>https://configure.ergodox-ez.com/layouts/default/latest/0</value>
      </setting>
      <setting name="HotkeyShowLayout" serializeAs="String">
        <value>{"modifiers":[0,1,2,4],"keycode":32}</value>
      </setting>
    </InvvardDev.EZLayoutDisplay.Desktop.Properties.Settings>
  </userSettings>
</configuration>